body {background-color: black;}
h1 {color: #10CAE3; font-weight: bold; text-align: center;}
p {color: white;}
h2 {color: #0DA6BA;}
.idc-user_i{
	color: #56E39A;
}
.idc-c-t-inner{
	color: #00FFFF;
}
#idc-container{
	margin: auto;
}
#idc-commentcount_label{
	color: #56E39A;
}
#idc-commentcount{
	color: #10CAE3;
}
#idc-commentcount_wrap{
	color: #56E39A;
}
a:visited {color: #32DBDB;/*text-decoration: none;*/}
a:link {color: #56E39A;/*text-decoration: underline;*/}
a:hover {color: #0B8999;/*text-decoration: none;*/}
